.home__footer{
    padding-top: 20px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.home__footer__section i {
    color: var(--color-Celeste);
}

#Copyright{
    text-align: left;
    font-size: 14px;
    margin-top: 20px;
}
@media(min-width:769px){
    .home__footer{
        flex-direction:row ;
        justify-content: space-between;
    }
}